<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NY Landmarks</title>
  </head>
  <body>
    <center><h1>Welcome to Our New York Landmark List</h1></center>

    <center><a href = "/figures/new"> Click here to enter a new figure </a></center>
  
  </body>
</html>