<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>


 <p></p>

    <center><a href = '/landmarks/<%=@landmark.id%>/edit'> Click here to edit landmark </a>
    <p></p>

     <center><a href = '/landmarks'> Click here to go back to list of landmarks </a>
    <p></p>